AdministracaoCliente/contracts/AdministracaoCliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="AdministracaoCliente" targetNamespace="http://workshop.com.br/ClienteService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://workshop.com.br/ClienteService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://workshop.com.br/ClienteService" xmlns:pref="http://workshop.com.br/schemas/cliente">
    	<xsd:import schemaLocation="../schemas/Cliente.xsd" namespace="http://workshop.com.br/schemas/cliente" />
    	<xsd:element name="consultarCliente">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="idCliente" type="xsd:integer" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="consultarClienteResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="cliente" type="pref:ClienteType" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarClienteRequest">
    <wsdl:part element="tns:consultarCliente" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarClienteResponse">
    <wsdl:part element="tns:consultarClienteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AdministracaoCliente">
    <wsdl:operation name="consultarCliente">
      <wsdl:input message="tns:consultarClienteRequest"/>
      <wsdl:output message="tns:consultarClienteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdministracaoClienteSOAP" type="tns:AdministracaoCliente">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarCliente">
      <soap:operation soapAction="http://workshop.com.br/ClienteService/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministracaoCliente">
    <wsdl:port binding="tns:AdministracaoClienteSOAP" name="AdministracaoClienteSOAP">
      <soap:address location="http://localhost:7800/ClienteService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>